.root {
	-fx-alignment: center;
	-fx-padding: 10px;
	-fx-spacing: 100px;
}

.title-label {
	-fx-padding: 5px;
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-background-color: red;
	-fx-background-radius: 5px;
}